
body{
    width:960px;

}
.letter{
    float:right;
    font-size:15px;
    line-height:2;

 
}
h4{
    color:#777777;
}
.nav_bar{
    overflow: hidden;
    padding:40px;
    width:960px;

}
.name{
    color: white;
    width:200px;
    padding:25px; 
    margin:0;
    background-color: #4aaaa5;
    text-align:center;
    font-size:30px;
    position:absolute;
    left:100px;
}
.about{
    float:right;
    padding: 12px 16px 0px 0px;
    position: absolute;
    right:85px;


}
.portfolio{
    float: right;
    padding: 12px 16px;
    position: absolute;
    right:144px;

}
.contact{
    float: right;
    padding: 12px 16px;
    position: absolute;
    right: 220px;

}
.box1{
    width:110.8%;
    background-color:#dddddd;
    padding:40px 100px 100px 100px;
    margin-bottom:auto;




}
.box2{
    background-color:white;
    width:960px;
    padding:50px;
    height:400px;
    margin-bottom:auto;
    border:auto;

}
.boxp{
    background-color:white;
    width:960px;
    padding:50px;
    height:800px;
    margin-bottom:auto;

}
.AT{
    color: #4aaaa5;
    font-size:30px;
    font-weight: bold;


}
.CT{
    color: #4aaaa5;
    font-size:30px;
    font-weight: bold;

}
input{
    color:#777777
}
textarea{
    width:840px;
    height:200px;
    resize: none;

    
}
button{
    color:#ffff ;
    background-color:#4aaaa5; 
    width:100px; 
    height:40px;
    padding: 5px;
    margin-top:5px;

}


.PT{
    color:#4aaaa5;
    font-size:30px;
    font-weight: bold;
    

}
#PT_box_1{
    width:200px;
    height:200px;
    margin:25px 25px 25px 25px;
    position: absolute;
    right:844px;
    bottom:-50px;
    background-image:url(../assets/Image/RPG.jpg)
}
.rpg{
    margin:10px 10px 10px 10px;
    margin-bottom: 0 auto;
    width:170px;
    height:30px;
    padding:20px 20px 10px 10px;
    background-color: #4aaaa5;
    color:white;
    text-align: center;
    position: absolute;
    bottom:10px;
    right:-10px;

}
    

#PT_box_2{
    width:200px;
    height:200px;
    margin:25px 25px 25px 25px;
    position: absolute;
    left:395px;
    bottom:-50px;
    background-image:url(../assets/Image/Rock.jpg)
    

}
.scissors{
    width:170px;
    height:30px;
    margin:10px;
    padding:20px 20px 10px 10px;
    font-weight:bold;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    position: absolute;
    bottom:10px;
    right:-10px;


}

#PT_box_3{
    width:200px;
    height:200px;
    margin:25px 25px 25px 25px;
    position: absolute;
    right:620px;
    top:210px;
    background-image:url(../assets/Image/Website.jpg)
    
    

}

.website{
    width:170px;
    height:30px;
    margin:10px;
    padding:20px 20px 10px 10px;
    font-weight:bold;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    position: absolute;
    bottom:10px;
    right:-10px;


}


#PT_box_4{
    width:200px;
    height:200px;
    margin:25px 25px 25px 25px;
    position: absolute;
    left:170px;
    top:210px;
    background-image:url(../assets/Image/Pixel.jpg)
    
}

.pixel{
    width:170px;
    height:30px;
    margin:10px;
    padding:20px 20px 10px 10px;
    font-weight:bold;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    position: absolute;
    bottom:10px;
    right:-10px;

}



#PT_box_5{
    width:200px;
    height:200px;
    margin:25px 25px 25px 25px;
    position: absolute;
    left:171px;
    bottom:-270px;
    background-image:url(../assets/Image/games.jpg)
    
}

.games{
    width:170px;
    height:30px;
    margin:10px;
    padding:20px 20px 10px 10px;
    font-weight:bold;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    position: absolute;
    bottom:-0px;
    right:-10px;
}

.footer{
    border-top: 8px solid #4aaaa5;
    border-bottom: #666666;
    padding:20px;
    width: 127.4%;
    background-color: #666666;
    text-align: center;
    color:#ffffff;
    font-size:12px; 
    

}